

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <app-todosform (todosEmmiter)="getTodoItem($event)" ></app-todosform>
    </div>
    <div class="col-md-6">
      <app-todolist [getTodos]="todosArray"></app-todolist>
      
     
    </div>
    <div class="col-12">
      <app-child></app-child>
      <!-- <app-tab></app-tab> -->
      <!-- <app-child 
      [getMsg]="msgForchild"
      (getMsgFromChild)="ongettingMsg($event)"
      >
    </app-child> -->
      <!-- <p class="alert alert-info" [innerHTML]="'I love angular'"></p>
    </div> -->
  </div>
</div>

<!-- Data Binding >Transfer of data in same Components -->

<!-- 
  how to transfer data between 2 components

  1) Input and output>>Parent Child relationship
  2)Services
  3)Routing
  4)Subject | BSubject (Rxjs)
 -->



